useDynLib("glinternet", .registration=TRUE)
export(glinternet, glinternet.cv)
importFrom(utils,combn,head,packageDescription)

importFrom("graphics", "abline", "axis", "plot", "segments","lines")
importFrom("stats", "lm", "plogis", "predict", "setNames")

S3method("print", "glinternet")
S3method("print", "glinternet.cv")
S3method("plot", "glinternet.cv")
S3method("predict", "glinternet")
S3method("predict", "glinternet.cv")
S3method("coef", "glinternet")
S3method("coef", "glinternet.cv")
